[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Maple Classic 18
Type=Application
Comment=Maple Classic 18
Exec=/opt/maple18/bin/xmaple
Terminal=false
Icon=/opt/maple18/bin/Maple18.png
GenericName=Maple Classic 18
Categories=Applications;Education;Mathematics;
MimeType=application/x-classic-worksheet;
